@import "../../styles/variables";
@import "../../styles/typography";

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}



@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

.inventoryitemdetails {
    margin: 0 1rem;
    // background-color: lightpink;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    @include tablet {
        // background-color: lightsalmon;
    }

    @include desktop {
        // background-color: lightseagreen;
    }

    &__img {
        &:hover {
            cursor: pointer;
        }
    }

    &__lower {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 1rem;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        @include tablet {
            flex-wrap: nowrap;
        }

        &--left {
            margin: 0 2rem 0 2rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            @include tablet {
                width: 50%;
                border-right: 1px #BDC5D5 solid;
                padding-right: 2rem;
            }
        }

        &--right {
            margin: 0 2rem 0 2rem;
            display: flex;
            flex-direction: column;
            width: 100%;

            @include tablet {
                width: 50%;
                // border-left: 1px #BDC5D5 solid;
            }

            &--top {
                display: flex;
                flex-direction: row;
                width: 50%;
                justify-content: space-between;
            }
        }

    }

    &--text {
        /* M P2 */
        font-family: $titilliumbeb-regular;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        /* identical to box height, or 154% */
        /* Instock-Black */
        color: #13182C;
    }

    &--header {
        font-family: $titilliumbeb-bold;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 16px;
        /* identical to box height, or 145% */
        text-transform: uppercase;
        padding-top: 1rem;

        /* Slate */
        color: #5C667E;
    }

    &__top {
        margin: 0 2rem;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: #BDC5D5 solid 1px;

        &--left {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: $titilliumbeb-bold;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            /* identical to box height, or 129% */
            display: flex;
            align-items: center;

            /* Instock-Black */
            color: #13182C;

            @include tablet {
                font-size: 32px;
                line-height: 40px;
            }

            @include desktop {}
        }

        &--right {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: $titilliumbeb-regular;

            /* identical to box height, or 157% */
            background-color: #2E66E5;
            border-radius: 36px;
            width: 2.25rem;
            height: 2.25rem;
            justify-content: center;
            text-decoration: none;
            // padding: 0.5rem 1rem;

            /* White */
            color: #FFFFFF;

            @include tablet {
                width: 5rem;
                height: 1.75rem;
                /* Instock-Indigo */
                // background: #2E66E6;
                background-color: #2E66E5;
                border-radius: 20px;
            }

            &--button {
                display: none;

                @include tablet {
                    display: flex;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    text-decoration: none;
                    font-family: $titilliumbeb-bold;
                    font-size: 14px;
                    line-height: 22px;
                    color: white;
                }
            }
        }
    }

    &__item {
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 3rem 0 3rem;
        margin: 0 1rem;
        border-bottom: 1px #BDC5D5 solid;
        justify-content: space-between;

        &--left {
            width: 50%;

            &--link {
                display: flex;
                align-content: center;
                flex-direction: row;
                align-items: center;
                font-family: $titilliumbeb-bold;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                /* identical to box height, or 154% */
                /* Instock-Indigo */
                color: #2E66E6;
            }
        }

        &--right {
            width: 50%;



            &--instock {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-family: $titilliumbeb-bold;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                /* identical to box height, or 145% */
                text-transform: uppercase;

                /* Green */
                width: 61px;
                height: 24px;
                color: #158463;
                background: rgba(21, 132, 99, 0.07);
                border-radius: 20px;
            }

            &--outstock {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-family: $titilliumbeb-bold;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                /* identical to box height, or 145% */
                text-transform: uppercase;

                /* Green */
                width: 86px;
                height: 24px;
                color: #C94515;
                background: rgba(201, 69, 21, 0.07);
                border-radius: 20px;
            }
        }

        &--button {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin: 0 0 1rem 0;

            &--img {
                display: flex;
                flex-direction: row;
            }

        }
    }
}