//Titillium Web font weight Semi-Bold 600
@font-face {
    font-family: 'Titillium-Web-Bold';
    src: url(../assets/fonts/TitilliumWeb-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

//Titillium Web font weight Regular 400
@font-face {
    font-family: 'Titillium-Web-Regular';
    src: url(../assets/fonts/TitilliumWeb-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$titilliumbeb-regular: 'Titillium-Web-Regular';
$titilliumbeb-bold: 'Titillium-Web-Bold';
